brotlipy==0.7.0
certifi==2021.5.30
cffi 
chardet 
click 
cryptography
cycler==0.10.0
idna 
importlib-metadata
joblib 
kiwisolver
matplotlib
mkl-random 
mkl-service
nltk 
numexpr 
numpy 
olefile
pandas 
Pillow 
pycparser 
pyOpenSSL
pyparsing 
PySocks 
python-dateutil 
pytz 
regex 
requests 
scipy 
seaborn 
sip
six 
tornado 
tqdm 
urllib3 
win-inet-pton 
wincertstore
zipp 
